
.dark, .dark-theme {
    --colorDefaultsWhite: #ffffff;
    --colorDefaultsBlack: #000000;
    --red-1: #1f1315;
    --red-2: #291618;
    --red-3: #3b191d;
    --red-4: #481a20;
    --red-5: #551c22;
    --red-6: #691d25;
    --red-7: #8c1d28;
    --red-8: #d21e24;
    --red-9: #e5484d;
    --red-10: #f26669;
    --red-11: #ff8589;
    --red-12: #ffd1d9;
    --red-a1: #fa000008;
    --red-a2: #fe001912;
    --red-a3: #fe1f3926;
    --red-a4: #ff213e36;
    --red-a5: #fe273d45;
    --red-a6: #ff263c59;
    --red-a7: #ff223880;
    --red-a8: #ff1f28cf;
    --red-a9: #ff4e54e3;
    --red-a10: #ff6b6df2;
    --red-a11: #ff858a;
    --red-a12: #ffd1d9;
    --jade-1: #081911;
    --jade-2: #0b1f16;
    --jade-3: #0f291e;
    --jade-4: #123124;
    --jade-5: #143a2b;
    --jade-6: #184635;
    --jade-7: #1e5e48;
    --jade-8: #238b6f;
    --jade-9: #29a383;
    --jade-10: #25ba92;
    --jade-11: #1fd8a4;
    --jade-12: #adf0d4;
    --jade-a1: #00e00000;
    --jade-a2: #00fa0008;
    --jade-a3: #00fe6a12;
    --jade-a4: #00fd871c;
    --jade-a5: #00fe9826;
    --jade-a6: #18feaa33;
    --jade-a7: #2cfeb44f;
    --jade-a8: #2effc780;
    --jade-a9: #35fec999;
    --jade-a10: #2bffc6b3;
    --jade-a11: #21fec0d4;
    --jade-a12: #b7ffe1f0;
    --gray-1: #181818;
    --gray-2: #1b1b1b;
    --gray-3: #282828;
    --gray-4: #303030;
    --gray-5: #373737;
    --gray-6: #3f3f3f;
    --gray-7: #4a4a4a;
    --gray-8: #606060;
    --gray-9: #6e6e6e;
    --gray-10: #818181;
    --gray-11: #b1b1b1;
    --gray-12: #eeeeee;
    --gray-a1: #ffffff00;
    --gray-a2: #ffffff03;
    --gray-a3: #ffffff12;
    --gray-a4: #ffffff1c;
    --gray-a5: #ffffff21;
    --gray-a6: #ffffff2b;
    --gray-a7: #ffffff38;
    --gray-a8: #ffffff4f;
    --gray-a9: #ffffff5e;
    --gray-a10: #ffffff73;
    --gray-a11: #ffffffa8;
    --gray-a12: #ffffffed;
    --green-1: #0d1912;
    --green-2: #0f1d17;
    --green-3: #12281f;
    --green-4: #143125;
    --green-5: #173a2a;
    --green-6: #194633;
    --green-7: #1f5e41;
    --green-8: #2c8c5e;
    --green-9: #30a46c;
    --green-10: #35b979;
    --green-11: #3dd68c;
    --green-12: #b1f1cb;
    --green-a1: #00e00000;
    --green-a2: #00fb0005;
    --green-a3: #00fc7a12;
    --green-a4: #00fd8f1c;
    --green-a5: #11fe9326;
    --green-a6: #1dfea033;
    --green-a7: #2ffe9e4f;
    --green-a8: #40ffa380;
    --green-a9: #3fffa29c;
    --green-a10: #42ffa4b3;
    --green-a11: #45ffa6d1;
    --green-a12: #bbffd6f0;
    --amber-1: #1f1300;
    --amber-2: #251804;
    --amber-3: #30200b;
    --amber-4: #39270f;
    --amber-5: #432e12;
    --amber-6: #533916;
    --amber-7: #6f4d1d;
    --amber-8: #a9762a;
    --amber-9: #ffc53d;
    --amber-10: #ffcb47;
    --amber-11: #ffcc4d;
    --amber-12: #ffe7b3;
    --amber-a1: #fa000008;
    --amber-a2: #fc19000f;
    --amber-a3: #ff66001c;
    --amber-a4: #ff800024;
    --amber-a5: #fe8d0030;
    --amber-a6: #ff971040;
    --amber-a7: #ffa42561;
    --amber-a8: #ffae35a1;
    --amber-a9: #ffc53d;
    --amber-a10: #ffcb47;
    --amber-a11: #ffcd4d;
    --amber-a12: #ffe7b3;
    --sky-1: #0c1820;
    --sky-2: #0d1d26;
    --sky-3: #112733;
    --sky-4: #132f3d;
    --sky-5: #163648;
    --sky-6: #1a4358;
    --sky-7: #205975;
    --sky-8: #2d87b4;
    --sky-9: #7ce2fe;
    --sky-10: #8ae8ff;
    --sky-11: #52d4ff;
    --sky-12: #c2f3ff;
    --sky-a1: #0019fc0a;
    --sky-a2: #006afd0f;
    --sky-a3: #0099ff1f;
    --sky-a4: #00a5fe29;
    --sky-a5: #0fa7ff36;
    --sky-a6: #1fb4fe47;
    --sky-a7: #2cb9ff66;
    --sky-a8: #37bcffab;
    --sky-a9: #7de3ff;
    --sky-a10: #8ae8ff;
    --sky-a11: #52d4ff;
    --sky-a12: #c2f3ff;
    --colorBackgroundsPageBg: #080808;
    --colorBackgroundsBackdrop: #000000bf;
    --colorEffectsTranslucent: #181818b3;
    --color-panel-translucent: var(--colorEffectsTranslucent);
    --colorPanelTranslucent: var(--colorEffectsTranslucent);
    --colorNeutral2: var(--gray-2);
    --colorEffectsSolid: var(--colorNeutral2);
    --colorTokensPageBackground: var(--colorBackgroundsPageBg);
    --colorTokensOverlay: var(--colorBackgroundsBackdrop);
    --colorTokensContrastWhite: var(--colorDefaultsWhite);
    --colorTokensBlack: var(--colorDefaultsBlack);
    --colorAccentalpha2: var(--jade-a2);
    --colorTokensSurfaceAccent: var(--colorAccentalpha2);
    --colorNeutral1: var(--gray-1);
    --colorNeutral3: var(--gray-3);
    --colorNeutral4: var(--gray-4);
    --colorNeutral5: var(--gray-5);
    --colorNeutral6: var(--gray-6);
    --colorNeutral7: var(--gray-7);
    --colorNeutral8: var(--gray-8);
    --colorNeutral9: var(--gray-9);
    --colorNeutral10: var(--gray-10);
    --colorNeutral11: var(--gray-11);
    --colorNeutral12: var(--gray-12);
    --colorNeutralalpha1: var(--gray-a1);
    --colorNeutralalpha2: var(--gray-a2);
    --colorNeutralalpha3: var(--gray-a3);
    --colorNeutralalpha4: var(--gray-a4);
    --colorNeutralalpha5: var(--gray-a5);
    --colorNeutralalpha6: var(--gray-a6);
    --colorNeutralalpha7: var(--gray-a7);
    --colorNeutralalpha8: var(--gray-a8);
    --colorNeutralalpha9: var(--gray-a9);
    --colorNeutralalpha10: var(--gray-a11);
    --colorNeutralalpha12: var(--gray-a12);
    --colorAccent1: var(--jade-1);
    --colorAccent2: var(--jade-2);
    --colorAccent3: var(--jade-3);
    --colorAccent4: var(--jade-4);
    --colorAccent5: var(--jade-5);
    --colorAccent6: var(--jade-6);
    --colorAccent7: var(--jade-7);
    --colorAccent8: var(--jade-8);
    --colorAccent9: var(--jade-9);
    --colorAccent10: var(--jade-10);
    --colorAccent11: var(--jade-11);
    --colorAccent12: var(--jade-12);
    --colorAccentalpha1: var(--jade-a1);
    --colorAccentalpha3: var(--jade-a3);
    --colorAccentalpha4: var(--jade-a4);
    --colorAccentalpha5: var(--jade-a5);
    --colorAccentalpha6: var(--jade-a6);
    --colorAccentalpha7: var(--jade-a7);
    --colorAccentalpha8: var(--jade-a8);
    --colorAccentalpha9: var(--jade-a9);
    --colorAccentalpha10: var(--jade-a10);
    --colorAccentalpha11: var(--jade-a11);
    --colorAccentalpha12: var(--jade-a12);
    --colorInfo1: var(--sky-1);
    --colorInfo2: var(--sky-2);
    --colorInfo3: var(--sky-3);
    --colorInfo4: var(--sky-4);
    --colorInfo5: var(--sky-5);
    --colorInfo6: var(--sky-6);
    --colorInfo7: var(--sky-7);
    --colorInfo8: var(--sky-8);
    --colorInfo9: var(--sky-9);
    --colorInfo10: var(--sky-10);
    --colorInfo11: var(--sky-11);
    --colorInfo12: var(--sky-12);
    --colorInfoalpha1: var(--sky-a1);
    --colorInfoalpha2: var(--sky-a2);
    --colorInfoalpha3: var(--sky-a3);
    --colorInfoalpha4: var(--sky-a4);
    --colorInfoalpha5: var(--sky-a5);
    --colorInfoalpha6: var(--sky-a6);
    --colorInfoalpha7: var(--sky-a7);
    --colorInfoalpha8: var(--sky-a8);
    --colorInfoalpha9: var(--sky-a9);
    --colorInfoalpha10: var(--sky-a10);
    --colorInfoalpha11: var(--sky-a11);
    --colorInfoalpha12: var(--sky-a12);
    --colorError1: var(--red-1);
    --colorError2: var(--red-2);
    --colorError3: var(--red-3);
    --colorError4: var(--red-4);
    --colorError5: var(--red-5);
    --colorError6: var(--red-6);
    --colorError7: var(--red-7);
    --colorError8: var(--red-8);
    --colorError9: var(--red-9);
    --colorError10: var(--red-10);
    --colorError11: var(--red-11);
    --colorError12: var(--red-12);
    --colorErroralpha1: var(--red-a1);
    --colorErroralpha2: var(--red-a2);
    --colorErroralpha3: var(--red-a3);
    --colorErroralpha4: var(--red-a4);
    --colorErroralpha5: var(--red-a5);
    --colorErroralpha6: var(--red-a6);
    --colorErroralpha7: var(--red-a7);
    --colorErroralpha8: var(--red-a8);
    --colorErroralpha9: var(--red-a9);
    --colorErroralpha10: var(--red-a10);
    --colorErroralpha11: var(--red-a11);
    --colorErroralpha12: var(--red-a12);
    --colorWarning1: var(--amber-1);
    --colorWarning2: var(--amber-2);
    --colorWarning3: var(--amber-3);
    --colorWarning4: var(--amber-4);
    --colorWarning5: var(--amber-5);
    --colorWarning6: var(--amber-6);
    --colorWarning7: var(--amber-7);
    --colorWarning8: var(--amber-8);
    --colorWarning9: var(--amber-9);
    --colorWarning10: var(--amber-10);
    --colorWarning11: var(--amber-11);
    --colorWarning12: var(--amber-12);
    --colorWarningalpha1: var(--amber-a1);
    --colorWarningalpha2: var(--amber-a2);
    --colorWarningalpha3: var(--amber-a3);
    --colorWarningalpha4: var(--amber-a4);
    --colorWarningalpha5: var(--amber-a5);
    --colorWarningalpha6: var(--amber-a6);
    --colorWarningalpha7: var(--amber-a7);
    --colorWarningalpha8: var(--amber-a8);
    --colorWarningalpha9: var(--amber-a9);
    --colorWarningalpha10: var(--amber-a10);
    --colorWarningalpha11: var(--amber-a11);
    --colorWarningalpha12: var(--amber-a12);
    --colorSuccess1: var(--green-1);
    --colorSuccess2: var(--green-2);
    --colorSuccess3: var(--green-3);
    --colorSuccess4: var(--green-4);
    --colorSuccess5: var(--green-5);
    --colorSuccess6: var(--green-6);
    --colorSuccess7: var(--green-7);
    --colorSuccess8: var(--green-8);
    --colorSuccess9: var(--green-9);
    --colorSuccess10: var(--green-10);
    --colorSuccess11: var(--green-11);
    --colorSuccess12: var(--green-12);
    --colorSuccessalpha1: var(--green-a1);
    --colorSuccessalpha2: var(--green-a2);
    --colorSuccessalpha3: var(--green-a3);
    --colorSuccessalpha4: var(--green-a4);
    --colorSuccessalpha5: var(--green-a5);
    --colorSuccessalpha6: var(--green-a6);
    --colorSuccessalpha7: var(--green-a7);
    --colorSuccessalpha8: var(--green-a8);
    --colorSuccessalpha9: var(--green-a9);
    --colorSuccessalpha10: var(--green-a10);
    --colorSuccessalpha11: var(--green-a11);
    --colorSuccessalpha12: var(--green-a12);
}
