
:root {
    --measureLineHeightLineHeightLineheights0: 16px;    
    --measureLineHeightLineHeightLineheights1: 20px;    
    --measureLineHeightLineHeightLineheights2: 24px;    
    --measureLineHeightLineHeightLineheights3: 26px;    
    --measureLineHeightLineHeightLineheights4: 28px;    
    --measureLineHeightLineHeightLineheights5: 30px;    
    --measureLineHeightLineHeightLineheights6: 36px;    
    --measureLineHeightLineHeightLineheights7: 40px;    
    --measureLineHeightLineHeightLineheights8: 60px;    
    --measureFontSizeFontSizeFontsize0: 12px;    
    --measureFontSizeFontSizeFontsize1: 14px;    
    --measureFontSizeFontSizeFontsize2: 16px;    
    --measureFontSizeFontSizeFontsize3: 18px;    
    --measureFontSizeFontSizeFontsize4: 20px;    
    --measureFontSizeFontSizeFontsize5: 24px;    
    --measureFontSizeFontSizeFontsize6: 28px;    
    --measureFontSizeFontSizeFontsize7: 35px;    
    --measureFontSizeFontSizeFontsize8: 60px;    
    --measureLetterSpacingLetterSpacingLetterspacing0: 0.04px;    
    --measureLetterSpacingLetterSpacingLetterspacing1: 2px;    
    --measureLetterSpacingLetterSpacingLetterspacing2: 0px;    
    --measureLetterSpacingLetterSpacingLetterspacing3: -0.04px;    
    --measureLetterSpacingLetterSpacingLetterspacing4: -0.08px;    
    --measureLetterSpacingLetterSpacingLetterspacing5: -0.1px;    
    --measureLetterSpacingLetterSpacingLetterspacing6: -0.12px;    
    --measureLetterSpacingLetterSpacingLetterspacing7: -0.16px;    
    --measureLetterSpacingLetterSpacingLetterspacing8: -0.4px;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing0: 0px;    
    --measureDimensionDimensionParagraphindent0: 0px;    
}