
:root {
    --shadowShadowsLightShadow1: inset 0 0 0 1px rgba(0,0,46,0.11);  
    --shadowShadowsLightShadow2: 0 0 0 1px rgba(0,0,61,0.05);  
    --shadowShadowsLightShadow3: 0 0 0 1px rgba(0,0,61,0.05);  
    --shadowShadowsLightShadow4: 0 0 0 1px rgba(0,0,61,0.05);  
    --shadowShadowsLightShadow5: 0 0 0 1px rgba(0,0,61,0.05);  
    --shadowShadowsLightShadow6: 0 0 0 1px rgba(0,0,61,0.05);  
    --shadowShadowsLightShadowButton: inset 0 0 0 1px rgba(0,0,0,0.11);  
    --shadowShadowsLightShadowButtonActive: inset 0 1px 0 1px rgba(0,0,0,0.08);  
    --shadowShadowsDarkShadow1: inset 0 0 0 1px rgba(0,0,46,0.11);  
    --shadowShadowsDarkShadow2: 0 0 0 1px rgba(53,55,60,1);  
    --shadowShadowsDarkShadow3: 0 0 0 1px rgba(53,55,60,1);  
    --shadowShadowsDarkShadow4: 0 0 0 1px rgba(53,55,60,1);  
    --shadowShadowsDarkShadow5: 0 0 0 1px rgba(53,55,60,1);  
    --shadowShadowsDarkShadow6: 0 0 0 1px rgba(53,55,60,1);  
    --shadowShadowsDarkShadowButton: inset 0 0 0 1px rgba(0,0,0,0.11);  
    --shadowShadowsDarkShadowButtonActive: inset 0 1px 0 0 rgba(0,0,0,0.11);  
}